.phone {
    @include media-mobile {
        order: 2;
        padding: 7rem 0;
    }
}

.phone__number {
    @include font-source(1.2rem, 900);
    @include media-tablet {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }
    @include media-mobile {
        font-size: 3.2rem;
        margin-bottom: 2.6rem;
    }
    display: flex;
    align-items: center;
    position: relative;
    white-space: nowrap;
    margin-bottom: 0.2rem;
    transition: color 0.3s;
    &:before {
        @include pseudo;
        left: -1.7rem;
        width: 1.2rem;
        height: 1.2rem;
        background: url("./../img/phone.png") no-repeat center;
        background-size: 1.2rem 1.2rem;
        margin-right: 7px;
    }
    &:hover {
        color: $hover-color;
    }
}

.phone__messenger {
    @include media-tablet {
        padding: 0 1rem;
    }
    @include media-mobile {
        padding: 0;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0 2.2rem;
}

.phone__item {
    @include media-custom(992px) {
        width: 2.6rem;
    }
    @include media-tablet {
        width: 3.6rem;
    }
    @include media-mobile {
        width: 8rem;
    }
    width: 2.6vw;
    height: auto;
    transition: transform 0.3s;
    &:hover {
        transform: scale(1.1);
    }
}