.phone
  a.phone__number(href="+380672425878") +38&nbsp;067&nbsp;242-58-78
  .phone__messenger
    a.phone__item(href="viber://chat?number=%2B380672425878")
      img(src="./img/messenger/s1.png" alt="viber")
    a.phone__item(href="https://t.me/Unvent_kiev_ua")
      img(src="./img/messenger/s2.png" alt="telegram")
    a.phone__item(href="https://api.whatsapp.com/send?phone=+380672425878")
      img(src="./img/messenger/s3.png" alt="whatsapp")