// Font-Source

@mixin font-source($size: false, $weight: false, $color: false, $lh: false) {
  @if $size { font-size: $size; }
  @if $weight { font-weight: $weight; }
  @if $color { color: $color; }
  @if $lh { line-height: $lh; }
}

// Flex centering

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Pseudo

@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}
