// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

// Color

$white: #fff;
$black: #000;
$dark-grey: #666;
$grey: #b3b3b3;
$light-grey: #f2f2f2;
$pink: #e62e7a;
$blue: #2ea8e6;
$dark-blue: #1698d9;
$red: #d91667;
$yellow: #ffff66;

