// Font

$mainFont                : 'UniNeue', Arial, sans-serif;

// Mobile first

$mediaWidthMobileMin: 320px;
$mediaWidthMobile: 375px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

// Size

$mainFontSize            : 10px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.42;

// Main color

$mainfont-color          : #ffffff;
$main-color              : #282728;
$second-color            : #313d4b;
$btn-color               : #50bc5b;
$decor-color             : #fe5851;
$phone-color             : #fe504f;
