// Font

$mainFont                : 'Open Sans', Arial, sans-serif;

// Mobile first

$mediaWidthMobile: 375px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

// Size

$mainFontSize            : 10px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.42;

// Main color

$main-color              : #000000;
$font-color              : #ffffff;
$tags-color              : #C5DCFF;
$tags-active-color       : #6BA6FF;
$btn-color               : #FFD83C;
$info-one                : #099CE8;
$info-tow                : #FED74B;
$info-three              : #7553FF;


// Neutral Color
$neutral-primary         : #292929;
$neutral-regular         : #343434;
$neutral-secondary       : #404040;
$neutral-tertiary        : #4B4B4B;
$neutral-light           : #9E9E9E;
