section.contact
  .container.contact__container
    .contact__box
      .contact__content
        h3.heading.contact__heading Связь с нами
        p.contact__desc У вас остались вопросы? Напишите нам - мы ответим в ближайшее время!
        ul.contact__list
          li.contact__item
            svg.contact__icon
              use(xlink:href="./img/svg/sprite.svg#phone")
            a.contact__phone(href="+81112223344") +7 (111) 222-33-44
          li.contact__item
            svg.contact__icon
              use(xlink:href="./img/svg/sprite.svg#mail")
            a.contact__email(href="mailto:order@buhone.ru") order@buhone.ru
      include ../../components/form/form.pug
    .contact__map
      script(async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4235787a22e4025e58825050dcbc50ea9a60a8e62afa8574fce407aa1ef322e4&amp;width=1110&amp;height=360&amp;lang=ru_RU&amp;scroll=true")



