.faq {
  position: relative;
  padding: 11.2rem 0 7rem;
  @include media-tablet {
    padding: 4rem 0 8rem;
  }
  @include media-mobile-horizontal {
    padding: 4rem 0 8rem;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    right: 21%;
    bottom: 0;
    width: 35rem;
    height: 68rem;
    background-image: url('./../img/faq/img-faq.png');
    @include bg-2x {
      background-image: url('./../img/faq/img-faq@2x.png');
    }
    @include bg-3x {
      background-image: url('./../img/faq/img-faq@3x.png');
    }
    @include media-tablet {
      visibility: hidden;
    }
  }
}

.faq__title {
  text-transform: uppercase;
  margin-bottom: 2.7rem;
}

.faq__heading {
  width: 30rem;
  margin-bottom: 4.6rem;
  & span {
    color: $primary-color;
  }
}

.faq__acc {
  position: relative;
  max-width: 73rem;
  z-index: 1;
  @include media-mobile {
    max-width: 100%;
  }
  @include media-mobile-horizontal {
    max-width: 100%;
  }
}

.faq__acc-item {
  background-color: $secondfont-color;
  margin-bottom: 1px;
  &.active {
    & > * {
      background-color: $primary-color;
      color: $main-color;
    }
    & .faq__answer {
      display: block;
    }
    & .faq__question {
      &::before {
        content: url('./../img/svg/-.svg');
        padding-bottom: 5px;
      }
    }
  }
}

.faq__question {
  display: flex;
  @include font-source(1.4rem, 700, $neutral-primary, 1.4rem);
  padding: 3.2rem 2.8rem;
  text-transform: uppercase;
  cursor: pointer;
  &::before {
    content: url('./../img/svg/+.svg');
    margin-right: 2rem;
  }
}

.faq__answer {
  display: none;
  @include font-source(1.6rem, 300, $main-color);
  padding: 0 3rem 1.3rem;
}