-
  const firstScreenItems = ['Бухгалтерские услуги в Санкт-Петербурге', 'Аудиторские услуги в Санкт-Петербурге','Услуги расчета налогов в Санкт-Петербурге','Консультации бухгалтерского учёта в Санкт-Петербурге']

section.first-screen
  .container.first-screen__container
    .swiper-container
      .swiper-wrapper.slider
        each item in firstScreenItems
          .slider-item.swiper-slide
            h1.first-screen__title= item
            button.first-screen__btn Связь с нами
    .slider-pagination
    .slider-buttons
      button.slider-button-left
        svg
          use(xlink:href="./img/svg/sprite.svg#arrow-left")
      button.slider-button-right
        svg
          use(xlink:href="./img/svg/sprite.svg#arrow-right")

