section.first-screen
  .container.first-screen__container
    h1.first-screen__title Бухгалтерские услуги в Санкт-Петербурге
    a.first-screen__link Связь с нами
    .first-screen__indicator
      ul.first-screen__point-list
        li.first-screen__point-item
        li.first-screen__point-item
        li.first-screen__point-item.active
        li.first-screen__point-item
      .first-screen__arrow
        button.first-screen__arrow-left
          svg
            use(xlink:href="./../img/svg/sprite.svg#arrow-left")
        button.first-screen__arrow-right
          svg
            use(xlink:href="./../img/svg/sprite.svg#arrow-right")
