section.first-screen
  .container.first-screen__container
    .swiper-container
      .swiper-wrapper.slider
        .slider-item.swiper-slide
          h1.first-screen__title Бухгалтерские услуги в Санкт-Петербурге
          a.first-screen__link Связь с нами
        .slider-item.swiper-slide
          h1.first-screen__title Аудиторские услуги в Санкт-Петербурге
          a.first-screen__link Связь с нами
        .slider-item.swiper-slide
          h1.first-screen__title Услуги расчета налогов в Санкт-Петербурге
          a.first-screen__link Связь с нами
        .slider-item.swiper-slide
          h1.first-screen__title Консультации бухгалтерского учёта в Санкт-Петербурге
          a.first-screen__link Связь с нами
    .slider-pagination
    .slider-buttons
      button.slider-button-left
        svg
          use(xlink:href="./../img/svg/sprite.svg#arrow-left")
      button.slider-button-right
        svg
          use(xlink:href="./../img/svg/sprite.svg#arrow-right")

