.map
  .map__icon
    img(src="./img/map.png", alt="карта")
  .map__address
    span.map__city Україна, Київ,
    span.map__street Васильківська 30
  .map__active
    .map__button
      button.map__fullscreen.openfullscreen
      button.map__close
    iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac7a628c438d6a97b6a283636d4cf1e94620138e7d12fce294345d6d97aa19e91&amp;source=constructor" width="1000" height="600" frameborder="0")