include ../../components/pack/pack

mixin pack-block(taste, amount, amountDesc, mouse, weight, selectedText, endText)
  .pack-block
    +pack(taste, amount, amountDesc, mouse, weight)
    span.pack-block__desc.pack-block__desc--default Чего сидишь? Порадуй котэ, #[span.pack-block__purchase купи]
    span.pack-block__desc.pack-block__desc--selected= selectedText
    span.pack-block__desc.pack-block__desc--end= endText