include ../../components/pack-info/pack-info
include ../../components/pack-mass/pack-mass

mixin pack(taste, amount, amountDesc, mouse, client, weight)
  article.pack.pack--bg.js-pack
    .pack__content
      +pack-info(taste, amount, amountDesc, mouse, client)
    .pack__footer
      +pack-mass(weight)