.header {
  padding: 1.5vw 0;
  @include media-custom(992px) {
    padding: 1.5rem;
  }
  @include media-tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
  }
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vw;
  @include media-custom(992px) {
    margin-bottom: 2rem;
  }
  @include media-tablet {
    width: 85%;
  }
  @include media-mobile {
    flex-wrap: wrap;
  }
}

.header__map {
  margin-right: 1.3vw;
  @include media-custom(992px) {
    margin-right: 1.3rem;
  }
  @include media-tablet {
    display: none;
  }
}

.header__nav {
  & span {
    display: none;
    @include media-tablet {
      position: relative;
      display: block;
      width: 5rem;
      height: 4px;
      background-color: $main-color;
      &::before {
        @include pseudo;
        width: 5rem;
        height: 4px;
        left: 0;
        top: 10px;
        background-color: $main-color;
      }
      &::after {
        @include pseudo;
        width: 5rem;
        height: 4px;
        left: 0;
        bottom: 10px;
        background-color: $main-color;
      }
      &.is-active {
        position: relative;
        display: block;
        width: 5rem;
        height: 4px;
        background-color: $main-color;
        cursor: pointer;
        z-index: 110;
        transform: rotate(-45deg);
        &::before {
          @include pseudo;
          width: 5rem;
          height: 4px;
          left: 0;
          top: 0;
          background-color: $main-color;
          transform: rotate(90deg);
        }
        &::after {
          display: none;
        }
      }
    }
  }
}

