.header {
  margin: 2.2rem 0 3.1rem;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.header__item {
  display: flex;
  margin-right: 5rem;
  &:last-child {
    margin-right: 0   ;
  }
}

.header__icon {
  width: 17px;
  height: 17px;
  margin-right: 1.2rem;
  fill: $primary-color;
}

.header__phone, .header__shedule, .header__email, .header__geo {
  @include font-source(1.3rem, 400);
}