header.header
  .header__row
    .header__logo
      include ../../components/logo/logo.pug
    .header__map
      include ../../components/map/map.pug
    .header__lang
      include ../../components/lang/lang.pug
    include ../../components/cons-btn/cons-btn.pug
    include ../../components/phone/phone.pug
  nav.header__nav
    span.header__icon
    include ../../components/menu/menu.pug