header.header
  .header__row
    include ../../components/logo/logo.pug
    include ../../components/map/map.pug
    include ../../components/cons-btn/cons-btn.pug
    include ../../components/phone/phone.pug
  nav
    include ../../components/menu/menu.pug