-
  const faqItems = [
    {question:'первый вопрос', text:'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, pariatur aspernatur! Voluptatem deleniti dolore voluptatum ullam soluta dolorum. Enim, eius esse molestias assumenda nam unde ducimus quos quasi officiis, facere qui illum commodi sequi ad hic reprehenderit ipsam numquam nesciunt dolorem soluta repellat adipisci, tempora exercitationem. Nemo excepturi recusandae aspernatur.'},
    {question:'второй вопрос', text:'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, pariatur aspernatur! Voluptatem deleniti dolore voluptatum ullam soluta dolorum. Enim, eius esse molestias assumenda nam unde ducimus quos quasi officiis, facere qui illum commodi sequi ad hic reprehenderit ipsam numquam nesciunt dolorem soluta repellat adipisci, tempora exercitationem. Nemo excepturi recusandae aspernatur.'},
    {question:'третий вопрос', text:'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, pariatur aspernatur! Voluptatem deleniti dolore voluptatum ullam soluta dolorum. Enim, eius esse molestias assumenda nam unde ducimus quos quasi officiis, facere qui illum commodi sequi ad hic reprehenderit ipsam numquam nesciunt dolorem soluta repellat adipisci, tempora exercitationem. Nemo excepturi recusandae aspernatur.'}
  ]

section.faq
  .container
    h2.title.faq__title faq
    h3.heading.faq__heading Ответы на #[span Вопросы]
    .faq__acc
      each item in faqItems
        .faq__acc-item
          span.faq__question= item.question
          p.faq__answer= item.text
