*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 1rem;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #ffffff;
  color: #434343;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
}
button:active {
  outline: none;
}

button, input {
  overflow: visible;
}

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.login-form-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: 50%;
}

.login-greeting-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: 50%;
  padding: 1.25rem;
  background: #20c997;
}

.login-greeting-screen-text {
  max-width: 31.25rem;
  color: #ffffff;
}

.login-greeting-screen-title {
  margin-bottom: 1.875rem;
  font-size: 500;
  text-transform: capitalize;
}

.login-greeting-screen-description {
  margin-bottom: 0.625rem;
}

.form-card {
  max-width: 31.25rem;
  width: 100%;
  margin-right: 1.875rem;
  margin-left: auto;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3125rem;
}

.card-title {
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.3125rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
  background-color: #ffffff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  background-color: #007bff;
  border-color: #007bff;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn:hover {
  text-decoration: none;
  background-color: #0069d9;
  border-color: #0062cc;
}
.btn:active {
  background-color: #0062cc;
  border-color: #005cbf;
}
.btn:active:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.is-invalid ~ .invalid-feedback {
  display: block;
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: #dc3545;
}

.form-control.is-invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.screen-mode {
  position: absolute;
  top: 3%;
  right: 3%;
}

.mode-btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  background-color: #007bff;
  border-color: #007bff;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-dark {
  background-color: #343a40;
  border-color: #343a40;
}
.btn-dark:hover {
  text-decoration: none;
  background-color: #23272b;
  border-color: #1d2124;
}
.btn-dark:active {
  background-color: #1d2124;
  border-color: #171a1d;
}
.btn-dark:active:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-light {
  color: #434343;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-light:hover {
  text-decoration: none;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}
.btn-light:active {
  background-color: #dae0e5;
  border-color: #d3d9df;
}
.btn-light:active:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

body.dark {
  background-color: #1f1f1f;
}

.login-greeting-screen.dark {
  background: #224392;
}

.card.dark {
  background-color: #224392;
  color: #ffffff;
  border-color: #ced4da;
}

body,
.login-greeting-screen,
.card {
  transition: all 0.3s ease-in;
}

.notify-container {
  position: absolute;
  bottom: 18%;
}

.alert {
  margin-bottom: 0.625rem;
  padding: 0.625rem 1.25rem;
  text-align: center;
  color: #000000;
  border: 1px solid transparent;
  border-radius: 0.3125rem;
}

.danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.success {
  background-color: #d4edda;
  border-color: #c3e6cb;
}

/*# sourceMappingURL=style.css.map */
