/* stylelint-disable */
.logo {
    @include media-tablet {
        margin-bottom: 2rem;
    }
    @include media-mobile-horizontal {
        margin-bottom: 2rem;
    }
    display: flex;
    align-items: center;
    width: 5rem;
    height: 5rem;
    & > img {
        margin-right: 3rem;
    }
}

.logo__text {
    @include font-source(3.6rem, 900, $primary-color);
    @include media-mobile {
        padding-top: 0;
    }
    font-family: Merriweather;
    padding-top: 12px;
}