.pack-block {
  text-align: center;
  &--default {
    .pack {
      background: linear-gradient(135deg, transparent rem(30), $default-color 0) top left;
      &:hover {
        background: linear-gradient(135deg, transparent rem(30), $default-hover-color 0) top left;
        transition: ease .2s;
        & .pack-mass {
          background-color: $default-hover-color;
          transition: ease .2s;
        }
      }
    }
  }
  &--selected {
    .pack {
      background: linear-gradient(135deg, transparent rem(30), $selected-color 0) top left;
      &:hover {
        background: linear-gradient(135deg, transparent rem(30), $selected-hover-color 0) top left;
        transition: ease .2s;
        .pack-mass {
          background-color: $selected-hover-color;
          transition: ease .2s;
        }
        .pack-info__title--default {
          display: none;
        }
        .pack-info__title--selected {
          display: block;
        }
      }
      &--default {
        background: linear-gradient(135deg, transparent rem(30), $selected-color 0) top left !important;
        .pack-mass {
          background-color: $selected-color !important;
          transition: ease .2s;
        }
        .pack-info__title--default {
          display: block !important;
        }
        .pack-info__title--selected {
          display: none !important;
        }
      }
    }
    .pack-mass {
      background-color: $selected-color;
    }
    .pack-block__desc--selected {
      display: block;
    }
    .pack-block__desc--default {
      display: none;
    }
  }
  &--disabled {
    .pack {
      cursor: default;
      background: linear-gradient(135deg, transparent rem(30), $neutral-regular 0) top left;
      .pack__content {
        opacity: 0.6;
      }
      &:after {
        opacity: 0.6;
      }
    }
    .pack-mass {
      background-color: $neutral-regular;
    }
    .pack-block__desc--selected {
      display: none;
    }
    .pack-block__desc--default {
      display: none;
    }
    .pack-block__desc--disabled {
      display: block;
    }
  }
  &__desc {
    display: block;
    @include font-source (rem(13), 400, $main-color);
    margin-top: rem(14);
    &--selected {
      display: none;
    }
    &--disabled {
      display: none;
      color: $disabled-color;
    }
  }
  &__buy {
    color: $default-color;
    border-bottom: 1px dashed;
    cursor: pointer;
    &:hover {
      color: $default-hover-color;
      transition: ease .2s;
    }
  }
}