.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__item {
    padding: 0.3rem;
}

.menu__link {
    @include font-source(0.8rem, 700);
    text-transform: uppercase;
}