.map {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
        color: $decor-color;
    }
}

.map__icon {
    @include media-custom(992px) {
        width: 4rem;
    }
    width: 4vw;
    height: auto;
    margin-right: 1rem;
}

.map__address {
    @include font-source(0.9rem, 400, 1.3rem);
    display: flex;
    flex-direction: column;
}

.map__city {
    font-weight: 900;
}