.map {
    display: flex;
    align-items: center;
}

.map__icon {
    width: 4vw;
    height: auto;
    margin-right: 1rem;
}

.map__address {
    @include font-source(0.9rem, 400, 1.3rem);
    display: flex;
    flex-direction: column;
}

.map__city {
    font-weight: 900;
}