.map {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
        color: $decor-color;
    }
}

.map__icon {
    @include media-custom(992px) {
        width: 4rem;
    }
    width: 4vw;
    height: auto;
    margin-right: 1rem;
}

.map__address {
    @include font-source(0.9rem, 400, 1.3rem);
    display: flex;
    flex-direction: column;
}

.map__city {
    font-weight: 900;
}

.map__active {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: -9999px;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: default;
    opacity: 0;
    &.is-active {
        left: 0;
        opacity: 1;
    }
}

.map__button {
    display: flex;
    align-items: center;
    position: fixed;
    top: 5rem;
    right: 5rem;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.9);
    & button {
        width: 2.3rem;
        height: 2.3rem;
        border: 0;
        transition: 0.3s;
        outline: 0;
        background-size: contain;
        cursor: pointer;
        &:hover {
            background-color: $default-color;
        }
    }
}

.map__fullscreen {
    background-image: url("./../img/svg/fullscreen-open.svg");
    margin-right: 1rem;
}

:-webkit-full-screen .map__fullscreen {
    background-image: url("./../img/svg/fullscreen-exit.svg");
}

.map__close {
    background-image: url("./../img/svg/close.svg");
}