form.form
  .form__row
    .form__col.form__col--mr
      label
        span.form__name Имя
        input.form__input(name="name" type="text" placeholder="Иван")
    .form__col
      label
        span.form__name Фамилия
        input.form__input(name="name" type="text" placeholder="Иванов")
  .form__row
    .form__col
      span.form__name Сообщение
      textarea.form__textarea(name="comment" type="text" placeholder="Ваше сообщение")
  .form__row
    .form__col.form__col--btn
      button.form__btn(type="submit") Отправить сообщение