.about-us {
  padding: 13.7rem 0;
}

.about-us__container {
  display: flex;
  justify-content: space-between;
}

.about-us__column {
  padding-right: 12.5rem;
}

.about-us__title {
  margin-bottom: 2.8rem;
}

.about-us__heading {
  margin-bottom: 4.3rem;
  & span {
    color: $primary-color;
  }
}

.about-us__desc {
  @include font-source(1.8rem, 300, $default-color);
}

.about-us__box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2.8rem;
  padding-top: 2.5rem;
}

.about-us__card {
  display: flex;
  flex-direction: column;
  width: 25.5rem;
  min-height: 25.5rem;
  background-color: $secondfont-color;
  padding: 2.5rem 3.7rem 4rem;
  &:last-child {
    background-color: $primary-color;
    & > * {
      color: $main-color;
    }
  }
}

.about-us__count {
  @include font-source(5.5rem, 900, $default-color);
  margin-bottom: 1.1rem;
}

.about-us__info {
  width: 12rem;
  @include font-source(1.4rem, 700, $default-color);
  margin-bottom: 4.7rem;
}

.about-us__link {
  @include font-source(1.4rem, 700, $primary-color);
  text-decoration: underline;
}