// Font

$mainFont: 'Roboto', Arial, sans-serif;

// Size

$mainFontSize            : 16;
$mainFontWeight          : 400;
$mainLineHeight          : 1.42;

// Main color

$main-color              : #ffffff;
$default-color           : #000000;
$text-color              : #434343;
$bg-color                : #20c997;
$border-color            : #ced4da;
$border-active-color     : #80bdff;
$btn-color               : #007bff;
$btn-hover-color         : #0069d9;
$btn-active-bg-color     : #0062cc;
$btn-active-border-color : #005cbf;
$invalid-color           : #dc3545;

// Media

$mediaWidthTablet        : 1240px;
$mediaMaxWidthMobile     : 640px;
$mediaWidthMobile        : 420px;