.cons-btn {
    @include font-source(0.8rem, 700);
    @include media-tablet {
        font-size: 1.6rem;
        padding: 2.3rem 2.6rem;
    }
    @include media-mobile {
        font-size: 3.2rem;
        padding: 3rem 4rem;
    }
    position: relative;
    padding: 1.3rem 1.6rem;
    background-color: $second-color;
    color: $default-color;
    border-radius: 5px;
    transition: box-shadow 0.3s;
    &:hover {
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
    }
}

