.our-services {
    @include media-tablet {
        padding: 4rem 0 8rem;
    }
    @include media-mobile-horizontal {
        padding: 4rem 0 8rem;
    }
    background-color: $secondfont-color;
}

.our-services__title {
    margin-bottom: 2.8rem;
}

.our-services__heading {
    @include media-mobile {
        margin-bottom: 3rem;
    }
    margin-bottom: 8.5rem;
}

.our-services__box {
    @include media-tablet {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    @include media-mobile {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    @include media-mobile-horizontal {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3rem;
}

.our-services__card {
    @include bg-2x {
        background-image: url("./../img/our-services/our-services@2x.jpg");
    }
    @include bg-3x {
        background-image: url("./../img/our-services/our-services@3x.jpg");
    }
    @include media-mobile {
        width: 100%;
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    width: 350px;
    min-height: 360px;
    padding: 0 4.5rem 4rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("./../img/our-services/our-services.jpg");
    background-size: cover;
}

.our-services__desc {
    @include font-source(2.4rem, 900, $main-color, 3rem);
}