-
  const ourServicesItems = ['Бухгалтерское обслуживание', 'Бухгалтерское обслуживание', 'Бухгалтерское обслуживание', 'Бухгалтерское обслуживание', 'Бухгалтерское обслуживание', 'Бухгалтерское обслуживание']

section.our-services
  .container.our-services__container
    h2.title.our-services__title Наши услуги
    h3.our-services__text Мы специализируемся
    ul.our-services__box
      each item in ourServicesItems
        li.our-services__card
          span.our-services__desc= item

