.our-services {
  padding: 14rem 0;
}

.our-services__title {
  margin-bottom: 4rem;
}

.our-services__text {
  font-family: Merriweather;
  @include font-source(4.8rem, 900, 6.9rem, $neutral-secondary);
  margin-bottom: 10.2rem;
}

.our-services__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3rem;
}

.our-services__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 350px;
  height: 360px;
  padding: 0 4.5rem 4.5rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('./../img/our-services/our-services.jpg');
}

.our-services__desc {
  @include font-source(2.4rem, 900, 3rem, $main-color);
}