extends layouts/default
include helpers/mixins

block variables
	- const title = "BuhOne - бухгалтерские услуги в Санкт-Петербурге"

block content
	include ../blocks/modules/header/header.pug
	include ../blocks/modules/first-screen/first-screen.pug
	include ../blocks/modules/our-services/our-services.pug
	include ../blocks/modules/about-us/about-us.pug
	include ../blocks/modules/gallery/gallery.pug
	include ../blocks/modules/faq/faq.pug

block scripts
	script(src="js/main.js")
