extends layouts/default
include helpers/mixins

block variables
	- const title = "BuhOne - бухгалтерские услуги в Санкт-Петербурге"

block content
	include ../blocks/modules/header/header.pug
	include ../blocks/modules/first-screen/first-screen.pug
	include ../blocks/modules/our-services/our-services.pug
	include ../blocks/modules/about-us/about-us.pug
	include ../blocks/modules/gallery/gallery.pug
	include ../blocks/modules/faq/faq.pug
	include ../blocks/modules/contact/contact.pug
	include ../blocks/modules/footer/footer.pug
	include ../blocks/modules/modal/modal.pug

block scripts
	script(src="https://unpkg.com/swiper/swiper-bundle.js")
	script(src="https://unpkg.com/regenerator-runtime@0.13.1/runtime.js")
	script(src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.3.1/dist/lazyload.min.js")
	script(src="js/main.js")
