extends layouts/default
include helpers/mixins

block variables
	- const title = "Nevatrip — Водные прогулки и экскурсии по Петербургу"

block content
	include ../blocks/modules/main/main

block scripts
	script(src="js/main.js")
