extends layouts/default
include helpers/mixins

block variables
	- const title = "Unvent - Монтаж дымоходов в Киеве и Киевской области"

block content
	.wrapper
		.container.wrapper__container
			include ../blocks/modules/header/header.pug
			include ../blocks/modules/hero/hero.pug

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
