-
  const aboutUsItems = [
    {count:'90', text:'Завершено крупных сделок', link:'Все кейсы'},
    {count:'90', text:'Завершено крупных сделок', link:'Все кейсы'},
    {count:'90', text:'Завершено крупных сделок', link:'Все кейсы'},
    {count:'90', text:'Завершено крупных сделок', link:'Все кейсы'}
  ]

section.about-us
  .container.about-us__container
    .about-us__column
      h2.title.about-us__title О нас
      h3.heading.about-us__heading Компания #[span ИвановПром]
      p.about-us__desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod sit deserunt alias tempore dolore, non sint ducimus beatae tempora cumque ea ipsam esse quasi porro rerum numquam consequatur veritatis. Explicabo nemo reprehenderit veniam culpa. Rerum, delectus! Similique molestiae quasi dolorem vel quo. Quidem, exercitationem corporis repellat animi itaque vero aliquam quod labore nobis, suscipit fuga a repudiandae ipsam dolore laudantium mollitia veritatis temporibus in et?
    ul.about-us__box
      each item in aboutUsItems
        li.about-us__card
          .about-us__count= item.count
          span.about-us__info= item.text
          a.about-us__link(href="#")= item.link