include ../../components/card/card

main.main
  .container
    ul.main__list
      each card, index in cardContent
        li.main__item
          +card(card.src, card.srcset, card.alt, card.title, card.time, card.desc, card.tags, card.price, card.priceBerth, card.info, index)