header.header
  .header__row
    .header__logo
      include ../../components/logoUA/logoUA.pug
    .header__map
      include ../../components/mapUA/mapUA.pug
    .header__lang
      include ../../components/langUA/langUA.pug
    include ../../components/cons-btnUA/cons-btnUA.pug
    include ../../components/phone/phone.pug
  nav.header__nav
    span.header__icon
    include ../../components/menuUA/menuUA.pug