.products {
  min-height: 100vh;
  @include flex-center;
  @include media-laptop {
    height: 100vh;
  }
  &__title {
    text-align: center;
    margin-bottom: rem(20);
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -40px;
  }
  &__item {
    margin: 0 40px 40px;
  }
}