-
  const sertItems = [
    {src: './../img/cert/cert-1.jpg'},
    {src: './../img/cert/cert-2.jpg'},
    {src: './../img/cert/cert-3.jpg'}
  ]

.certificate
  p.certificate__text Лицензии и сертификаты в наличии
  .swiper-container
    .certificate__list.swiper-wrapper
      each item in sertItems
        a.certificate__link.swiper-slide(href='#')
          img.certificate__img(src= item.src)
  .swiper-button-next
  .swiper-button-prev