.modal {
    display: none;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
}

.modal__container {
    display: flex;
    justify-content: center;
}

.modal__heading {
    @include media-mobile-horizontal {
        margin-bottom: 1rem;
    }
    margin-bottom: 4.5rem;
}

.modal__box {
    @include media-tablet {
        width: 100%;
        padding: 2rem;
    }
    @include media-mobile-horizontal {
        width: 100%;
        height: 100%;
        padding: 2rem;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 73rem;
    height: 55rem;
    padding: 3.5rem 9.5rem;
    opacity: 1;
    background-color: $main-color;
    & .form__name {
        color: $neutral-primary;
    }
    & .form__input, & .form__textarea {
        border-bottom: 1px solid $border;
    }
}