.menu {
    @include media-mobile {
        flex-wrap: wrap;
        justify-content: center;
    }
    @include media-mobile-min {
        align-items: flex-end;
    }
    display: flex;
    justify-content: space-between;
}

.menu__link {
    @include font-source(1.4rem, 700);
    text-transform: uppercase;
    &:hover {
        text-decoration: underline;
    }
}

.menu__item {
    @include media-mobile {
        margin-right: 5rem;
        margin-bottom: 1rem;
        &:last-child, &:nth-child(3) {
            @include media-mobile-min {
                margin-right: 2rem;
            }
            margin-right: 0;
        }
    }
    @include media-mobile-min {
        margin-right: 2rem;
    }
}