.title {
  @include font-source(2.4rem, 900, $neutral-light);
}

.heading {
  font-family: Merriweather;
  @include font-source(4.8rem, 900, $neutral-secondary);
  @include media-mobile {
    font-size: 3rem;
  }
  @include media-mobile-min {
    font-size: 2.5rem;
  }
  @include media-mobile-horizontal {
    font-size: 2rem;
  }
}

section {
  padding: 14rem 0;
}

.modal-image {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0, 0.85);
  z-index: 2;
}

.modal-image__box {
  position: relative;
  height: 80%;
  background-color: $main-color;
  padding: 1rem;
  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.modal-icon {
  display: block;
  position: absolute;
  right: 2%;
  top: 3%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  &::before {
    content: "";
    display: block;
    position: absolute;
    background-color: $main-color;
    width: 100%;
    height: 4px;
    transition: .4s;
    top: 13px;
    border-radius: 5px;
    transform: rotate(45deg);
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    background-color: $main-color;
    width: 100%;
    height: 4px;
    transition: .4s;
    top: 13px;
    border-radius: 5px;
    transform: rotate(-45deg);
  }
}
