.wrapper {
  border-radius: 0 0 2rem 2rem;
  background: url('./../img/bg/bg.jpg') no-repeat center;
  background-size: cover;
  @mixin bg-2x {
    background: url('./../img/bg/bg@2x.jpg') no-repeat center;
  }
  @mixin bg-3x {
    background: url('./../img/bg/bg@3x.jpg') no-repeat center;
  }
}

.wrapper__container {
  position: relative;
  padding-bottom: 5.7vw;
}

.btn-blick {
  position: relative;
  overflow: hidden;
  &:after {
    content: "";
    display: block;
    width: 30px;
    height: 350px;
    margin-left: 60px;
    background: rgba(255,255,255, 0.5);
    background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.5) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.9) 50%,rgba(255,255,255,0.5) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.9) 50%,rgba(255,255,255,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#b3ffffff',GradientType=0 );
    position: absolute;
    left: -40px;
    top: -150px;
    z-index: 1;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-animation-name: slideme;
    animation-name: slideme;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
}

@-webkit-keyframes slideme {
  0% { left: -30px; margin-left: 0px; }
  30% { left: 110%; margin-left: 80px; }
  100% { left: 110%; margin-left: 80px; }
}

body.is-active {
  overflow: hidden;
}

.test {
  display: block;
  width: 150px;
  height: 50px;
  background-color: green;
}