.wrapper {
  border-radius: 0 0 2rem 2rem;
  background: url('../../img/bg/bg.jpg') no-repeat center;
  background-size: cover;
  @mixin bg-2x {
    background: url('../../img/bg/bg@2x.jpg') no-repeat center;
  }
  @mixin bg-3x {
    background: url('../../img/bg/bg@3x.jpg') no-repeat center;
  }
}

.wrapper__container {
  position: relative;
  padding-bottom: 5.7vw;
}