.wrapper {
  width: 100%;
  height: 100%;
}

_:-ms-fullscreen, :root .container {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1120px;
  width: 95%;
}

.pattern-bg {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%), url('../img/pattern.png') center/75px;
}

.title {
  font-family: "Exo2", Arial, Helvetica, sans-serif;;
  @include font-source (rem(34), 100, $white);
  text-shadow: 0 1px 0 $black;
}