@font-face {
  font-family: 'Exo2';
  src: url('../../fonts/Exo2.0-Thin.woff2') format('woff2'),
      url('../../fonts/Exo2.0-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'TrebuchetMS';
  src: url('../../fonts/TrebuchetMS.woff2') format('woff2'),
      url('../../fonts/TrebuchetMS.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TrebuchetMS';
  src: url('../../fonts/TrebuchetMS-Bold.woff2') format('woff2'),
      url('../../fonts/TrebuchetMS-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
