@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-Regular.eot");
  src: local("Lato Regular"), local("Lato-Regular"),
    url("../../fonts/Lato-Regular.woff") format("woff"),
    url("../../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-Light.eot");
  src: local("Lato Light"), local("Lato-Light"),
    url("../../fonts/Lato-Light.woff") format("woff"),
    url("../../fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-Bold.eot");
  src: local("Lato Bold"), local("Lato-Bold"),
    url("../../fonts/Lato-Bold.woff") format("woff"),
    url("../../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-Black.eot");
  src: local("Lato Black"), local("Lato-Black"),
    url("../../fonts/Lato-Black.woff") format("woff"),
    url("../../fonts/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: "Merriweather";
  src: url("../../fonts/Merriweather-Bold.eot");
  src: local("Merriweather Bold"), local("Merriweather-Bold"),
    url("../../fonts/Merriweather-Bold.woff") format("woff"),
    url("../../fonts/Merriweather-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("../../fonts/Merriweather-Black.eot");
  src: local("Merriweather Black"), local("Merriweather-Black"),
    url("../../fonts/Merriweather-Black.woff") format("woff"),
    url("../../fonts/Merriweather-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}