*,
*::before,
*::after {
    box-sizing: inherit;
}

html, body {
    box-sizing: border-box;
    @include media-laptop {
        font-size: 16px;
    }
    @include media-tablet {
        font-size: 15px;
    }
      @include media-mobile {
        font-size: 14px;
    }
}

body {
    margin: 0;
    font-family: "TrebuchetMS", Arial, Helvetica, sans-serif;
    background-color: $black;
    color: $white;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

p {
    margin: 0;
}